<% layout('/layouts/default.html', {title: '立项决议管理', libs: ['validate','fileupload']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header with-border">
			<div class="box-title">
				<i class="fa icon-note"></i> ${text(coreLxjy.isNewRecord ? '新增立项决议' : '编辑立项决议')}
			</div>
			<div class="box-tools pull-right hide">
				<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
			</div>
		</div>
		<#form:form id="inputForm" model="${coreLxjy}" action="${ctx}/core/coreLxjy/save" method="post" class="form-horizontal">
			<div class="box-body">
				<div class="form-unit">${text('基本信息')}</div>
				<#form:hidden path="id"/>
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label class="control-label col-sm-2" title="">
								<span class="required hide">*</span> ${text('项目编号')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-4">
								<#form:select path="lxjyXmbh" dictType="" blankOption="true" class="form-control" />
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label class="control-label col-sm-2" title="">
								<span class="required hide">*</span> ${text('项目名称')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-4">
								<#form:select path="lxjyXmmc" dictType="" blankOption="true" class="form-control" />
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label class="control-label col-sm-2">
								<span class="required hide">*</span> ${text('附件上传')}：</label>
							<div class="col-sm-8">
								<#form:fileupload id="uploadFile" bizKey="${coreLxjy.id}" bizType="coreLxjy_file"
									uploadType="all" class="" readonly="false" preview="true" dataMap="true"/>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="box-footer">
				<div class="row">
					<div class="col-sm-offset-2 col-sm-10">
						<% if (hasPermi('core:coreLxjy:edit')){ %>
							<button type="submit" class="btn btn-sm btn-primary" id="btnSubmit"><i class="fa fa-check"></i> ${text('保 存')}</button>&nbsp;
						<% } %>
						<button type="button" class="btn btn-sm btn-default" id="btnCancel" onclick="js.closeCurrentTabPage()"><i class="fa fa-reply-all"></i> ${text('关 闭')}</button>
					</div>
				</div>
			</div>
		</#form:form>
	</div>
</div>
<% } %>
<script>
$("#inputForm").validate({
	submitHandler: function(form){
		js.ajaxSubmitForm($(form), function(data){
			js.showMessage(data.message);
			if(data.result == Global.TRUE){
				js.closeCurrentTabPage(function(contentWindow){
					contentWindow.page();
				});
			}
		}, "json");
    }
});
$(document).ready(function() {
	// 使用 Ajax 从项目档案表接口获取项目信息
	$.ajax({
		url: '${ctx}/core/coreXmglxxb/listData', // 修改为正确的接口路径
		type: 'GET',
		success: function(response) {
			if (response && response.list) {
				// 清空现有的下拉框选项
				$('#lxjyXmbh').empty();
				// 添加默认选择项
				$('#lxjyXmbh').append('<option value="">-- 请选择项目编号 --</option>');

				// 遍历接口返回的项目数据，动态添加到下拉框中
				$.each(response.list, function(index, item) {
					var option = $('<option></option>')
							.val(item.gcglXmbh)       // 设定 value 为项目的ID
							.text(item.gcglXmbh);  // 显示项目的ID
					$('#lxjyXmbh').append(option);
				});
				// 如果是编辑模式，填充当前选中的项目编号
				if ('${coreLxjy.isNewRecord}' === 'false') {
					// 假设 `coreLxjy` 对象中包含当前项目编号
					var currentProjectId = '${coreLxjy.lxjyXmbh}'; // 获取当前项目编号
					$('#lxjyXmbh').val(currentProjectId); // 设置下拉框的值
				}
			} else {
				js.showMessage("加载项目数据失败！");
			}
		},
		error: function() {
			js.showMessage("获取项目数据时发生错误！");
		}
	});
});
$(document).ready(function() {
	// 使用 Ajax 从项目档案表接口获取项目信息
	$.ajax({
		url: '${ctx}/core/coreXmglxxb/listData', // 修改为正确的接口路径
		type: 'GET',
		success: function(response) {
			if (response && response.list) {
				// 清空现有的下拉框选项
				$('#lxjyXmmc').empty();
				// 添加默认选择项
				$('#lxjyXmmc').append('<option value="">-- 请选择项目名称 --</option>');

				// 遍历接口返回的项目数据，动态添加到下拉框中
				$.each(response.list, function(index, item) {
					var option = $('<option></option>')
							.val(item.gcglXmmc)       // 设定 value 为项目名称
							.text(item.gcglXmmc);  // 显示项目名称
					$('#lxjyXmmc').append(option);
				});
				// 如果是编辑模式，填充当前选中的项目名称
				if ('${coreLxjy.isNewRecord}' === 'false') {
					// 假设 `coreLxjy` 对象中包含当前项目的名称
					var currentProjectId = '${coreLxjy.lxjyXmmc}'; // 获取当前项目名称
					$('#lxjyXmmc').val(currentProjectId); // 设置下拉框的值
				}
			} else {
				js.showMessage("加载项目数据失败！");
			}
		},
		error: function() {
			js.showMessage("获取项目数据时发生错误！");
		}
	});
});
</script>