<% layout('/layouts/default.html', {title: '研发工时统计表管理', libs: ['validate']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header">
			<div class="box-title">
				<i class="fa icon-note"></i> ${text(coreYfgstjb.isNewRecord ? '新增研发工时统计表' : '编辑研发工时统计表')}
			</div>
			<div class="box-tools pull-right">
				<a href="#" class="btn btn-default" id="btnSearch" title="查询"><i class="fa fa-filter"></i> 查询</a>
				<% if(hasPermi('test:testData:edit')){ %>
				<a href="${ctx}/test/testData/form" class="btn btn-default btnTool" title="新增数据"><i class="fa fa-plus"></i> 新增</a>
				<% } %>
			</div>
		</div>
		<div class="box-body">
			<#form:form id="inputForm" model="${coreYfgstjb}" action="${ctx}/core/coreYfgstjb/save" method="post" class="form-horizontal">
			<div class="box-body">
				<div class="form-unit">${text('基本信息')}</div>
				<#form:hidden path="id"/>
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label class="control-label col-sm-2" title="">
								<span class="required hide">*</span> ${text('项目名称')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-4">
								<select id="yfgstjbXmid" name="yfgstjbXmid" class="form-control">
									<option value="">-- 请选择项目 --</option>
								</select>
							</div>
						</div>
					</div>
					<#form:hidden path="yfgstjbZbid"/>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label class="control-label col-sm-2" title="">
								<span class="required hide">*</span> ${text('该周日期')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-4" style="display: flex; align-items: center;">
								<#form:input path="yfgstjbGzrqStart" readonly="true" maxlength="20" class="form-control laydate width-date"
								dataFormat="date" data-type="date" data-format="yyyy-MM-dd" data-done="yfgstjbGzrqEnd.click()"/>
								&nbsp;-&nbsp;
								<#form:input path="yfgstjbGzrqEnd" readonly="true" maxlength="20" class="form-control laydate width-date"
								dataFormat="date" data-type="date" data-format="yyyy-MM-dd"/>

								<!-- 隐藏的原始日期控件 -->
								<input type="hidden" path="yfgstjbGzrq" id="yfgstjbGzrq" class="form-control"/>								<!--
								<#form:input path="yfgstjbGzrq" maxlength="100" class="form-control"/>
								-->
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label class="control-label col-sm-2" title="">
								<span class="required hide">*</span> ${text('该周总工时')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-4">
								<#form:input path="yfgstjbGzzgs" maxlength="8" class="form-control number"/>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="box-footer">
				<div class="row">
					<div class="col-sm-offset-2 col-sm-10">

						<button type="submit" class="btn btn-sm btn-primary" id="btnSubmit"><i class="fa fa-check"></i> ${text('保 存')}</button>&nbsp;

						<button type="button" class="btn btn-sm btn-default" id="btnCancel" onclick="js.closeCurrentTabPage()"><i class="fa fa-reply-all"></i> ${text('关 闭')}</button>
					</div>
				</div>
			</div>
		</#form:form>
	</div>
</div>
</div>
<% } %>
<script>
	$("#inputForm").validate({
		submitHandler: function(form){
			js.ajaxSubmitForm($(form), function(data){
				js.showMessage(data.message);
				if(data.result == Global.TRUE){
					js.closeCurrentTabPage(function(contentWindow){
						contentWindow.page();
					});
				}
			}, "json");
		}
	});

	$(document).ready(function() {
		// 使用 Ajax 从人员档案表接口获取员工信息
		$.ajax({
			url: '${ctx}/core/coreXmglxxb/listData', // 修改为正确的接口路径
			type: 'GET',
			success: function(response) {
				if (response && response.list) {
					// 清空现有的下拉框选项
					$('#yfgstjbXmid').empty();
					// 添加默认选择项
					$('#yfgstjbXmid').append('<option value="">-- 请选择项目 --</option>');

					// 遍历接口返回的员工数据，动态添加到下拉框中
					$.each(response.list, function(index, item) {
						var option = $('<option></option>')
								.val(item.id)       // 设定 value 为项目的 ID
								.text(item.gcglXmmc);  // 显示项目的 ID
						$('#yfgstjbXmid').append(option);
					});
					// 如果是编辑模式，填充当前选中的项目 ID
					if ('${coreYfgstjb.isNewRecord}' === 'false') {
						// 假设 `coreYfgstjb` 对象中包含当前项目的 ID
						var currentProjectId = '${coreYfgstjb.yfgstjbXmid}'; // 获取当前项目 ID
						$('#yfgstjbXmid').val(currentProjectId); // 设置下拉框的值


					}
				} else {
					js.showMessage("加载员工数据失败！");
				}
			},
			error: function() {
				js.showMessage("获取员工数据时发生错误！");
			}
		});
		// 如果是编辑模式
		if ('${coreYfgstjb.isNewRecord}' === 'false') {

			var currentYfgstjbGzrq = '${coreYfgstjb.yfgstjbGzrq}'; // 获取当前项目 ID
			if (currentYfgstjbGzrq) {
				var dateParts = currentYfgstjbGzrq.split(' - ');  // 按照“ - ”分割日期范围
				if (dateParts.length === 2) {
					// 将分割后的日期赋值给相应的输入框
					document.querySelector('[name="yfgstjbGzrqStart"]').value = dateParts[0];  // 开始日期
					document.querySelector('[name="yfgstjbGzrqEnd"]').value = dateParts[1];    // 结束日期
				}
			}


		}
	});

	// 初始化 laydate
	laydate.render({
		elem: '#yfgstjbGzrqStart',  // 起始日期选择框
		type: 'date',
		format: 'yyyy-MM-dd',
		done: function(value, date, endDate) {
			// 设置结束日期框的最小日期为选择的日期，确保日期范围只能选择从当前周一开始
			var startDate = new Date(value);
			var day = startDate.getDay();  // 获取选择日期的星期几
			if (day !== 1) {
				alert("请选择周一！");
				// 清空两个日期选择控件的值
				document.querySelector('[name="yfgstjbGzrqStart"]').value = '';
				document.querySelector('[name="yfgstjbGzrqEnd"]').value = '';
				return;
			}
			// 计算当前周一和周日的日期
			var monday = new Date(startDate.setDate(startDate.getDate() - day + 1)); // 计算当前周一
			var sunday = new Date(startDate.setDate(startDate.getDate() - day + 7)); // 计算当前周日

			// 格式化日期显示
			var mondayFormatted = monday.toISOString().split('T')[0];  // 格式化为 yyyy-mm-dd
			var sundayFormatted = sunday.toISOString().split('T')[0];  // 格式化为 yyyy-mm-dd

			// 更新日期范围显示
			document.querySelector('[name="yfgstjbGzrqStart"]').value = mondayFormatted;
			document.querySelector('[name="yfgstjbGzrqEnd"]').value = sundayFormatted;

			//$('#yfgstjbGzrq').value = '20250102';
		}
	});

	// 结束日期选择框
	laydate.render({
		elem: '#yfgstjbGzrqEnd',  // 结束日期选择框
		type: 'date',
		format: 'yyyy-MM-dd',
		done: function(value, date, endDate) {
			var endDate = new Date(value);
			var day = endDate.getDay();  // 获取结束日期的星期几
			if (day !== 7 && day !== 0) {
				alert("请选择周日！");
				// 清空两个日期选择控件的值
				document.querySelector('[name="yfgstjbGzrqStart"]').value = '';
				document.querySelector('[name="yfgstjbGzrqEnd"]').value = '';
				return;
			}
			// 计算当前周一和周日的日期
			var monday = new Date(endDate.setDate(endDate.getDate() - day - 6)); // 计算当前周一
			var sunday = new Date(endDate.setDate(endDate.getDate() - day + 6)); // 计算当前周日

			// 格式化日期显示
			var mondayFormatted = monday.toISOString().split('T')[0];  // 格式化为 yyyy-mm-dd
			var sundayFormatted = sunday.toISOString().split('T')[0];  // 格式化为 yyyy-mm-dd

			// 更新日期范围显示
			document.querySelector('[name="yfgstjbGzrqStart"]').value = mondayFormatted;
			document.querySelector('[name="yfgstjbGzrqEnd"]').value = sundayFormatted;
		}
	});

</script>